@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin:0px;
    padding:0px;
    border: none;
    outline: none;
    box-shadow: none;
}

html, body {
    height: 100%;
}

.corpo {
    background-color: #051D3B;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% 1%;
}

.cabecalho__logo {
    width: 145px;
    height: 34px;
}

.cabecalho__barra-de-pesquisa {
    position: relative;
    background-color: #FFFFFF29;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    opacity: 64%;
    padding: 16px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 26px; 
    padding-left: 8px;
    width: 900px;
}

.cabecalho__info-usuario {
    display: flex;
    box-sizing: content-box;
    align-items: center;
    width: 10%;
    gap: 10%;
}

.cabecalho__info-usuario__foto-perfil {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.cabecalho__info-usuario__nome-usuario {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 16px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__abas{
    order: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    margin-left: 1.5%;
}

.menu__abas__titulo {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 12px;
    letter-spacing: 4px;
}

.menu__abas__editor-codigo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    text-decoration: none;
}

.menu__abas__editor-codigo__imagem {
    background-color: #5081FB;
    border: solid #5081FB 16px;
    border-radius: 16px;
}

.menu__abas__editor-codigo__imagem:hover {
    background-color: #7BA4FC;
    border: solid #7BA4FC 16px;
    transition-duration: 0.3s;
}

.menu__abas__editor-codigo__imagem:active {
    background-color: #7BA4FC;
    outline: solid #5081FBB8 4px;
    transform: translateY(4px);
}

.menu__abas__editor-codigo__imagem:focus {
    background-color: #96B9FD;
}

.menu__abas__editor-codigo__titulo {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 16px;
}

.menu__abas__comunidade {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    text-decoration: none;
}

.menu__abas__comunidade__imagem {
    opacity: 48%;
    background-color: #5081FB14;
    padding: 16px;
    border-radius: 16px;
}

.menu__abas__comunidade__imagem:hover {
    background-color: #5081FB29;
    transition-duration: 0.3s;
}

.menu__abas__comunidade__imagem:active {
    background-color: #5081FB29;
    border: solid #5081FB3D 4px;
    transform: translateY(4px);
}

.menu__abas__comunidade__imagem:focus {
    background-color: #5081FB3D;
}

.menu__abas__comunidade__titulo {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 16px;
}

.menu__infos-projeto {
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin-right: 1.5%;
    margin-top: 4%;
    justify-content: space-between;
    gap: 10px;
}

.menu__infos-projeto__titulo {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 12px;
    letter-spacing: 8px;
}

.menu__infos-projeto__subtitulo-nome {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: start;
    opacity: 48%;
    color: white;
    font-size: 16px;
    background-color: #FFFFFF29;
    padding: 10px;
    width: 272px;
    height: 56px;
    border-radius: 8px;
    margin-bottom: 1.5%;
}

.menu__infos-projeto__subtitulo-desc {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    opacity: 48%;
    color: white;
    font-size: 16px;
    background-color: #FFFFFF29;
    padding: 10px;
    width: 272px;
    height: 80px;
    border-radius: 8px;
}

.codigo-projeto__quadrado {
    position: relative;
    z-index: 0;
    display: flex;
    width: 742px;
    height: 366px;
    background-color: #6BD1FF;
    border-radius: 8px;
    margin-left: 3%;
    margin-top: 5%;
}

.codigo-projeto__quadrado__borda {
    position: absolute;
    display: flex;
    order: 2;
    background-color: #141414;
    width: 678px;
    height: 302px;
    margin-left: 4%;
    margin-top: 4%;
    border-radius: 8px;
    z-index: 1; /*Controla a ordem das camadas dos itens presentes nessa organização de exibição em três dimensões*/
    top: 0px;
}

.codigo-projeto__circulos {
    display: flex;
    position:absolute; /*Absolute serve para definir sua posição de maneira sólida em relação ao elemento pai, filho fica "absoluto" em relação ao pai*/
    margin: 1.5%;  
    gap: 8px;
    z-index: 2;
}

.codigo-projeto__circulos__vermelho {
    width: 12px;
    height: 12px;
    background-color: #FF5F56;
    border-radius: 50%;
}

.codigo-projeto__circulos__amarelo {
    width: 12px;
    height: 12px;
    background-color: #FFBD2E;
    border-radius: 50%;
}

.codigo-projeto__circulos__verde {
    width: 12px;
    height: 12px;
    background-color: #27C93F;
    border-radius: 50%; 
}

.botao-visualizar-highlight {
    margin-top: 3%;
    position: relative;
    background-color: #5081FB14;
    margin-left: 2.25%;
    width: 752px;
    height: 56px;
    border-radius: 8px;
}

.botao-visualizar-highlight__texto {
    position: absolute;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 16px;
    top: 15px;
    right: 279px;
    left: 279px;
}

.botao-selecionar-linguagem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10%;
}

.botao-selecionar-linguagem__titulo {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 12px;
    letter-spacing: 8px;
}

.botao-selecionar-linguagem__borda {
    display: flex;
    flex-direction: column;
    width: 272px;
    height: 76px;
    background-color: #FFFFFF29;
    position: relative;
    border-radius: 8px;
}

.botao-selecionar-linguagem__opcoes {
    display: flex;
    text-align: center;
    margin-top: 10%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    background-color: #FFFFFF29;
    opacity: 64%;
    font-size: 16px;
}

.botao-selecionar-cor-borda {
    margin-top: 2%;
    position: relative;
    width: 256px;
    height: 40px;
    border-radius: 8px;
    border: solid #051D3B 7px;
    outline: solid 1px white;
}

.botao-selecionar-cor-borda__cor {
    position: absolute;
    width: 256px;
    height: 40px;
    background-color: #6BD1FF; 
    border-radius: 4px;
}

.salvar-projeto {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 272px;
    height: 56px;
    background-color: #5081FB;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #051D3B;
    font-size: 16px;
}